<app-header></app-header>
<app-navbar></app-navbar>
<div id="content" class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <h3 class="text-center mb-4">Add New News</h3>
            <form [formGroup]="addNewsForm" enctype="multipart/form-data" (submit)="addNews()">
                <div class="mb-3">
                    <label for="newsTitle" class="form-label">News Title</label>
                    <input formControlName="title" type="text" class="form-control" id="newsTitle" aria-describedby="titleHelp">
                    <div *ngIf="addNewsForm.get('title')?.invalid && addNewsForm.get('title')?.touched">
                        <div *ngIf="addNewsForm.get('title')?.hasError('required')" class="alert alert-danger" role="alert">
                            Title is required
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="newsContent" class="form-label">News Content</label>
                    <textarea formControlName="content" class="form-control" id="newsContent" rows="3"></textarea>
                    <div *ngIf="addNewsForm.get('content')?.invalid && addNewsForm.get('content')?.touched">
                        <div *ngIf="addNewsForm.get('content')?.hasError('required')" class="alert alert-danger" role="alert">
                            Content is required
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="newsEditor" class="form-label">Written By</label>
                    <select formControlName="id_editor" class="form-select" id="newsEditor" aria-label="Default select example">
                        <option value="1">Ahmed Mohamed</option>
                        <option value="2">Safaa Kamal</option>
                        <option value="3">Mai Mahmoud</option>
                        <option value="4">Taha Ali</option>
                    </select>
                    <div *ngIf="addNewsForm.get('id_editor')?.invalid && addNewsForm.get('id_editor')?.touched">
                        <div *ngIf="addNewsForm.get('id_editor')?.hasError('required')" class="alert alert-danger" role="alert">
                            Editor is required
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="newsCategory" class="form-label">Belong To</label>
                    <select formControlName="id_category" class="form-select" id="newsCategory" aria-label="Default select example">
                        <option value="1">Sport</option>
                        <option value="2">Media</option>
                        <option value="3">Talk Show</option>
                    </select>
                    <div *ngIf="addNewsForm.get('id_category')?.invalid && addNewsForm.get('id_category')?.touched">
                        <div *ngIf="addNewsForm.get('id_category')?.hasError('required')" class="alert alert-danger" role="alert">
                            Category is required
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="newsImage" class="form-label">Main Image</label>
                    <input formControlName="mainImage" type="file" class="form-control" id="newsImage" aria-describedby="imageHelp">
                    <div *ngIf="addNewsForm.get('mainImage')?.invalid && addNewsForm.get('mainImage')?.touched">
                        <div *ngIf="addNewsForm.get('mainImage')?.hasError('required')" class="alert alert-danger" role="alert">
                            Image is required
                        </div>
                    </div>
                </div>
                <button [disabled]="addNewsForm.invalid" type="submit" class="btn btn-primary w-100">Add News</button>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>