<app-header></app-header>
<app-navbar></app-navbar>
<div id="content" class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-12">
            <h3 class="text-center mb-4">Show All News</h3>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr class="table-dark">
                            <th scope="col">#</th>
                            <th scope="col">News Title</th>
                            <th scope="col">Main Image</th>
                            <th scope="col">Belong To</th>
                            <th scope="col">Written By</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let news of allNews">
                            <th scope="row">{{news.id}}</th>
                            <td>{{news.title}}</td>
                            <td><img src="https://via.placeholder.com/60" alt="main image" class="img-thumbnail" style="max-width: 100px;"></td>
                            <td>{{news.belongTo}}</td>
                            <td>{{news.writtenBy}}</td>
                            <td><button class="btn btn-sm btn-primary" routerLink="/dashboard/news/{{news.id}}/show">Edit</button></td>
                            <td><button class="btn btn-sm btn-danger" (click)="deleteNews(news.id)">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>