<app-header></app-header>
<app-navbar></app-navbar>
<div id="content" class="row p-2">
    <div class="col">
        <h3>statstics</h3>
        <table class="table table-striped table-bordered table-light table-hover">
            <thead>
             <tr class="table-dark">
                <th scope="col">Item</th>
                <th scope="col">No of items</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">Editors</th>
                <td>{{statstics.noOfEditors}}</td>
                </tr>
                <tr>
                <th scope="row">Categories</th>
                <td>{{statstics.noOfCategories}}</td>
                </tr>
                <tr>
                <th scope="row">News</th>
                <td>{{statstics.noOfNews}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-footer></app-footer>