<app-header></app-header>
<app-navbar></app-navbar>
<div id="content" class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <h3 class="text-center mb-4">Add New Editor</h3>
            <form [formGroup]="addEditorForm" (ngSubmit)="addEditor()">
                <div class="mb-3">
                    <label for="editorName" class="form-label">Editor Name</label>
                    <input formControlName="name" type="text" class="form-control" id="editorName" aria-describedby="nameHelp">
                    <div *ngIf="addEditorForm.get('name')?.invalid && addEditorForm.get('name')?.touched">
                        <div *ngIf="addEditorForm.get('name')?.hasError('required')" class="alert alert-danger" role="alert">
                            Name is required
                        </div>
                        <div *ngIf="addEditorForm.get('name')?.hasError('minlength')" class="alert alert-danger" role="alert">
                            The length of the name must be at least 3 characters
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="editorSalary" class="form-label">Editor Salary</label>
                    <input formControlName="salary" type="text" class="form-control" id="editorSalary" aria-describedby="salaryHelp">
                    <div *ngIf="addEditorForm.get('salary')?.invalid && addEditorForm.get('salary')?.touched">
                        <div *ngIf="addEditorForm.get('salary')?.hasError('required')" class="alert alert-danger" role="alert">
                            Salary is required
                        </div>
                    </div>
                </div>
                <button [disabled]="addEditorForm.invalid" type="submit" class="btn btn-primary w-100">Add Editor</button>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>