.navbar-container {
    background-color: #001f3f;
}

.nav-link {
    color: #f8f9fa;
    transition: color 0.3s ease-in-out;
}

.nav-link.active {
    color: #ffcc00; 
}

.nav-link:hover {
    color: #ffcc00; 
}

.navbar-toggler {
    border-color: #f8f9fa; 
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%288, 8, 8, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}